<h1>{{title}}</h1>
<h5>{{caption}}</h5>
<hr>
<h3>Programmers</h3>
<ul>
   <li [ngStyle]="style[i]" *ngFor="let x of programmers,let i=index"> {{x}}
   </li>
</ul>

<button *ngFor="let x of [0,1,2,3,4]" (click)="toggle(x)">{{"toggle visibility"+ (x+1)}}</button>


<br/>

<app-second *ngIf="flags[0]" [boxno]="1" ></app-second>
<app-second *ngIf="flags[1]" [boxno]="2"></app-second>
<app-second *ngIf="flags[2]" [boxno]="3"></app-second>

<app-second *ngIf="flags[3]" [boxno]="4"></app-second>
<app-second *ngIf="flags[4]" [boxno]="5"></app-second>


