.box{
    height: 300px;
    width: 400px;
    border: 2px solid gray;
    color: white;
    float: left;
    padding: 10px;
    font-size: 13px;
  
    margin: 10px;
    box-sizing: border-box;
    background-color: rgb(8, 44, 8);
}